<% provide(:title, 'Sign in') %>
<p id="notice"><%= notice %></p>
<h2>Sign in</h2>
<%= form_for (@user) ,:url=> url_for(:controller => 'sessions',:action =>'create') do |f| %>
    <br><div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <br><div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div><br>
    <div class="actions">
      <%= f.submit 'Login', class: "btn btn-large btn-primary" %>
      <p>New user?</p> <%= f.submit 'Signup', class: "btn btn-large btn-primary", formaction: new_user_path%>
    </div>
<% end %>
