<% provide(:title, 'Search a Room') %>
<p id="notice"><%= notice %></p>
<h2><%= "Bookings for Date:  #{@booking.date} " %></h2>

<% l_rooms = Array.new %>
<% size_rooms = Array.new %>
<% start_times = Array.new %>
<% if @booked_list == nil %>
    <h3>Bookings for these conditions empty</h3>
<% else %>
    <% if (@booking.building == 'DH Hill' || @booking.building == 'Hunt' ) %>
        <%= "Booking searched for building #{@booking.building}" %>

        <% @rooms_matching_library =  LibraryRoom.where("library_rooms.building = ?",@booking.building ) %>
        <% @booked_list = BookingHistory.where("booking_histories.building = ? AND date = ?",@booking.building,@booking.date ).order(:start_t) %>

    <% elsif @booking.size %>
        <%= "Booking searched for size #{@booking.size}" %>
        <% @rooms_matching_library = LibraryRoom.where("library_rooms.size = ?",@booking.size ) %>
        <% @booked_list = BookingHistory.where("booking_histories.size = ? AND date = ?",@booking.size,@booking.date ).order(:start_t) %>
    <% end %>

    <table border="1"  >

      <%= render 'timegrid' %>

      <% @rooms_matching_library.each do |room_l| %><!Loop 1 for room>
          <% start_times = Array.new %>
          <% end_times = Array.new %>
          <tr>
            <td><%= room_l.number %></td>
            <td><%= room_l.building %></td>
            <td><%= room_l.size %></td>

            <% bl = @booked_list.where("booking_histories.room_num = ?",room_l.number ) %>
            <% bl.each do |same_room| %>
                <% start_times << same_room.start_t %>
                <% end_times << same_room.end_t %>
            <% end %>
            <% (0..24).each do |hour| %>
                <% if start_times.include?(hour) || end_times.include?(hour+1) %>
                    <td bgcolor = #ff6347> Booked </td>
                <% else %>
                    <td bgcolor="#7fff00">Free</td>
                <% end %>
            <% end %>

          </tr>
      <% end %>
    </table>
    <h3>Fill in Details to Book</h3>
<% end %>
<%= form_for (@booking),:url=> url_for(:controller => 'booking_histories',:action =>'create') do |f| %>

    <% if session[:user_role] == "admin" %>
        <div class="field"><br>
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
    <% else %><br>
        <div class="field">
          <%= f.label :username %>
          <%= f.label session[:user_name] %>
        </div>
    <% end %><br>
    <div class="field">
      <%= f.label :room_num %><br>
      <%= f.number_field :room_num %>
    </div><br>
    <div class="field">
      <%= f.label :start_time_t %><br>
      <%= f.select :start_t,options_for_select(1..23) %>
    </div><br>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.select :end_t ,options_for_select(1..23)%>
    </div><br>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div><br>

    <div class="actions">
      <%= f.submit "Book" %>
    </div>
<% end %>
