<h2>Bookings for Date</h2>
<% if @booking != nil %>
    <%= @booking.date %>
<% end %>
<table>
  <tr>
    <th>Room Num </th>
    <th>Username </th>
    <th>Start Time</th>
    <th>End Time</th>
    <th> Size </th>
    <th> Building </th>
  </tr>
  <% if @booked_list == nil %>
      <h3>Bookings for these conditions empty</h3>
  <% else %>

      <% if (@booking.building == 'DH Hill' || @booking.building == 'Hunt' ) %>
          <%= "Booking searched for building #{@booking.building}" %>

          <% @list_building = LibraryRoom.joins("LEFT OUTER JOIN booking_histories ON library_rooms.number = booking_histories.room_num") %>
          <% @booked_list = BookingHistory.where("booking_histories.building = ? AND date = ?",@booking.building,@booking.date ).order(:start_t) %>

      <% elsif @booking.size %>
          <%= "Booking searched for size #{@booking.size}" %>
          <% @list_size = LibraryRoom.joins("LEFT OUTER JOIN booking_histories ON library_rooms.number = booking_histories.room_num") %>
          <% @booked_list = BookingHistory.where("booking_histories.size = ? AND date = ?",@booking.size,@booking.date ).order(:start_t) %>
      <% end %>


      <% @booked_list.each do |data| %>
          <tr>
            <td><%= data.room_num %></td>
            <td><%= data.username %></td>
            <td><%= data.start_t %></td>
            <td><%= data.end_t %></td>
            <td><%= data.size %></td>
            <td><%= data.building %></td>
          </tr>

      <% end %>
  <% end %>
  <% if @booking.room_num != nil %>
      <h2>Details of Room </h2>
      <!% @location = LibraryRoom.select("building").where("number = ?",@booking.room_num) %>
      <% @location = LibraryRoom.where("number = ?",@booking.room_num) %>
      <% building_entry = @location.as_json[0]["building"] %>
      <%= "Building : #{building_entry}" %></br>
      <% @size = LibraryRoom.select("size").where("number = ?",@booking.room_num) %>
      <% size_entry = @size.as_json[0]["size"] %>
      <%= "Size : #{size_entry}" %>
  <% end %>
</table>
<%= form_for (@booking),:url=> url_for(:controller => 'booking_histories',:action =>'create') do |f| %>


    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :room_num %><br>
      <%= f.number_field :room_num %>
    </div>
    <div class="field">
      <%= f.label :start_time_t %><br>
      <%= f.select :start_t,options_for_select(1..23) %>
    </div>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.select :end_t ,options_for_select(1..23)%>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :building %><br>
      <%= f.select :building, options_for_select([["Select One", ""], "DH Hill", "Hunt"]) %>

    </div>

    <div class="field">
      <%= f.label :size %><br>
      <%= f.select :size, options_for_select([["Select One", ""], "2", "4","6"])%>
    </div><br>
    <div class="actions">
      <%= f.submit "Book" %>
    </div>
<% end %>
