<% provide(:title, 'Admin Console') %>
<div align="left"><h3>Hello <%= session[:user_name] %>!</h3></div>
<div align = "left"><h3><%= link_to 'New Message', index_notif_url%></h3></div>
<p id="notice"><%= notice %></p>
<h2>Admin Console</h2>
<%= form_for(:user, url:dum_path) do |f| %>
    <ul>
      <li><%= link_to 'My Account', editprof_path%></li><br>
      <label>Manage Admins</label><br>
      <ul><br>
        <li><%= link_to 'Changing permissions of Members', admincreation_path%></li>
        <li><%= link_to 'Add Library Members', new_user_path%></li>
        <li><%= link_to 'View All Admins', admview_path%></li>
        <li><%= link_to 'Deleting Admins', admdel_path%></li>
      </ul>
      <br><label>Manage Rooms</label><br>
      <ul><br>
        <li><%= link_to 'Manage Rooms', library_rooms_path%></li>
        <li><%= link_to 'Book A Room', new_booking_history_path%></li>
        <li><%= link_to 'View Rooms Reservation History', bkhist_booking_history_path%></li>
        <li><%= link_to 'Release a Booking', bookingdel_booking_history_path %></li>
      </ul>
      <br><label>Manage Library Members</label><br>
      <ul><br>
        <li><%= link_to 'View All Members', memsview_path%></li>
        <li><%= link_to 'View Members Reservation History', bkhist_booking_history_path%></li>
        <li><%= link_to 'Delete Members', memsdel_path%></li>
      </ul>
      </ul>
<% end %>