<% provide(:title, 'Admin Console') %>
<div align="left"><h3><p id="notice">Hello <%= session[:user_name] %></p></h3></div>
<h2>Admin Console</h2>
<%= form_for(:user, url:dum_path) do |f| %>
    <ul>
      <label>Manage Admins</label><br>
      <ul><br>
        <li><%= link_to 'Creating New Admins', edit_user_path%></li>
        <li><%= link_to 'View All Admins', admview_path%></li>
        <li><%= link_to 'Deleting Admins', admdel_path%></li>
      </ul>
      <br><label>Manage Rooms</label><br>
      <ul><br>
        <li><%= link_to 'Manage Rooms', library_rooms_path%></li>
        <li><%= link_to 'View Rooms Booking History', viewhist_path%></li>
      </ul>
      <br><label>Manage Library Members</label><br>
      <ul><br>
        <li><%= link_to 'View All Members', memsview_path%></li>
        <li><%= link_to 'View Reservation History', memshist_path%></li>
        <li><%= link_to 'Delete Members', memsdel_path%></li>
      </ul>
      </ul>
<% end %>