<% provide(:title, 'Sign In') %>
<%= form_for(:user, url:users_path) do |f| %>
<h1>Library Reservation System</h1>
    <h2>Login Page</h2>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Login', class: "btn btn-large btn-primary" , formaction: dum_path%>
      <p>New user?</p> <%= f.submit 'Signup', class: "btn btn-large btn-primary", formaction: new_user_path%>
    </div>
<% end %>
