<% provide(:title, "Sign Up") %>
<h1>Sign Up</h1>
<%= form_for (@user),:url=> url_for(:controller => 'users',:action =>'create') do |f| %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
  <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
  </div>
    <br>
<% end %>