<%= form_for(@notif) do |f| %>
  <% if @notif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notif.errors.count, "error") %> prohibited this notif from being saved:</h2>

      <ul>
      <% @notif.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :read %><br>
    <%= f.check_box :read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
