<p id="notice"><%= notice %></p>
<h1> Your Upcoming Bookings </h1>
<table border="2">
  <tr>
    <th>Booking Id</th>
    <th>Room Num</th>
    <th>Building</th>
    <th>Size</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% @booking_history.each do |mem| %>
      <tr>
        <td><%= "#{mem.id}" %></td>
        <td><%= "#{mem.room_num}" %></td>
        <td><%= "#{mem.building}" %></td>
        <td><%= "#{mem.size}" %></td>
        <td><%= "#{mem.date}" %></td>
        <td><%= "#{mem.start_t}" %></td>
        <td><%= "#{mem.end_t}" %></td>
      </tr>
  <% end %>
</table>

<%= form_for (@notif),:url=> url_for(:controller => 'notifs',:action =>'newteam') do |f| %>
<div class="field">
  <label>Enter Teammate:</label>
  <%= f.text_field :username %>
</div><br>
    <div class="field">
      <label>Enter Booking ID:</label>
      <%= f.text_field :booking_id %>
    </div><br>
    <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>