<p id="notice"><%= notice %></p>
<% provide(:title, 'My Inbox') %>
<h1>Inbox</h1>

<table border="2">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Message</th>
      <th>Date</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notif.each do |notif| %>
      <tr>
        <% if notif.username == session[:user_name] %>
            <td><%= notif.sender %></td>
            <td><%= notif.message %></td>
            <td><%= notif.date %></td>
            <% if notif.read == "false" %>
                <td bgcolor = "#7fff00"></td>
            <% else %>
                <td bgcolor="ff6347"></td>
            <% end %>
            <td><%= link_to 'Show', show_notif_path(notif) %></td>
            <td><%= link_to 'Edit', edit_notif_path(notif) %></td>
            <td><%= link_to 'Delete', destroy_notif_path(notif) %></td>
          </tr>
        <% end %>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notif', new_notif_path %>
