<%= form_for(@library_room) do |f| %>
    <% if @library_room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@library_room.errors.count, "error") %> prohibited this library_room from being saved:</h2>

          <ul>
            <% @library_room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
    <br>
    <div class="field">
      <%= f.label :building %><br>
      <%= f.select :building, options_for_select([["Select One", ""], "DH Hill", "Hunt"])%>
    </div>
    <br>
    <div class="field">
      <%= f.label :size %><br>
      <%= f.select :size, options_for_select([["Select One", ""], "2", "4","6"])%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
