<% provide(:title, 'Rooms Listings') %>
<p id="notice"><%= notice %></p>
<h2>Complete Listing of Library Rooms</h2>
<table border="2">
  <thead>
  <tr>
    <th>Number</th>
    <th>Building</th>
    <th>Size</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @library_rooms.each do |library_room| %>
      <tr>
        <td><%= library_room.number %></td>
        <td><%= library_room.building %></td>
        <td><%= library_room.size %></td>
        <td><%= link_to 'Show', library_room %></td>
        <td><%= link_to 'Edit', edit_library_room_path(library_room) %></td>
        <td><%= button_to 'Destroy', library_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table><br>
<br>
<%= link_to 'Add New Library Room', new_library_room_path %>
<br>

