<!DOCTYPE html>
<html>
<head>
  <title>Library Reservation System</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<br>
<%= link_to 'Logout', users_get_path %>
</body>
</html>
