<!DOCTYPE html>
<html>
<head>
  <title>Library Reservation System | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<br>
<%= link_to 'Logout', new_session_path %>
</body>
</html>
